:root {
    --number-of-boxes-horizontal: 100;
    --bg-color: #0e0b0b;
    --box-color:  #a8261d;
}

body {
    background-color: #000000;
}

.title {
    align-self: center;
    text-align: left;
    padding-left: 24px;
    position: relative;
    font-size: 36px;
    color: white;
    font-family: arial;
    text-shadow: 0px 0px 4px #0e0b0b;
}

.grid {
    width: 100vw;
    height: 100vh;
    gap: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    font-size: 9px;
    display: inline-grid;
    grid-auto-flow: row;
    column-width: auto;
    background-color: var(--bg-color);
}

ul {
    display: inline-block;
    list-style-type: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

li {
    display: inline-block;
    text-align: center;
}

.nav {
    overflow: hidden;
    text-align: left;
}

.nav a {
    color: white;
    text-align: left;
    padding: 8px 24px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 4px #0e0b0b;
    background-color: #0e0b0b93;
}
.nav a:hover {
    color: var(--bg-color);
    background-color: white;
    text-shadow: 0px 0px 0px #0e0b0b;
}

.nav a:active {
    text-decoration: line-through;
    text-decoration-thickness: 5px;
}

.body {
    padding-top: 50px;
    border-radius: 5px;
    background-color: #0e0b0b93;
    align-self: center;
    text-align: left;
    top: 24px;
    padding-left: 24px;
    position: relative;
    color: white;
    font-family: arial;
    display: inline-block;
    list-style-type: none;
    left: 24px;
    margin: 0;
    padding: 10px;
    text-shadow: 0px 0px 4px #0e0b0b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body a {
    color: white;
    text-align: left;
    padding: 8px 24px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}